# =============================================================================
# Browserslist
# https://browsersl.ist/
# =============================================================================
# RPGツクールMZ local版(NW.js)のChromiumバージョン
# v1.9.0, v1.8.1
Chrome 85
# RPGツクールMV local版(NW.js)のChromiumバージョン
# v1.6.3
# Chrome 65
# 1.2.0
# Chrome 41
